<% breadcrumb([link_to('Buildings', maps_buildings_path), link_to(h("#{@floor_map.building.name} Floor Maps"), maps_building_floor_maps_path(@floor_map.building)), h(@floor_map.name)]) %>

<% content_for(:right_column) do %>
  <h3>Call Number Ranges</h3>
  <p>
    <%= link_to "Add Call Number Range", new_maps_building_floor_map_call_number_range_path(@floor_map.building, @floor_map), class: "btn" %>
  </p>
  <ul>  
  <% @floor_map.call_number_ranges.each do | range | %>
    <li><%= link_to range.range_name, edit_maps_building_floor_map_call_number_range_path(range.building, range.floor_map, range)%></li>
  <% end %>
  </ul>  
<% end %>

<h1><%= @floor_map.name %></h1>
<p>
  <%= link_to "Edit Floor Map", edit_maps_building_floor_map_path(@floor_map.building, @floor_map), class: "btn" %>
</p>

<%= image_tag @floor_map.map.url %>
<!--   
  <h4>Fun Spot</h4>
  <p>Click on the highlighted section for more information</p>
  <div class="imageSub" style="width: 254px; height: 198px;"> 
    <div class="blackbg"></div>
    <a href="http://www.google.com" target="_blank" id="overimage" class="label popover_link" data-content="funnest spot in the whole library system" data-original-title="fun spot"></a>
    <a href="http://www.yahoo.com"  target="_blank" id="overimage2" class="label2 popover_link" data-content="2nd funnest spot in the whole library system" data-original-title="Another fun spot"></a>
  </div>

<style>
  div.imageSub { position: relative; }
  div.imageSub img { z-index: 1; }
  div.blackbg {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -8px;
    left: -8px;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
  }
  div.imageSub a.label {
    position: absolute;
    top: 63px;
    left: 33px;
    width: 90px;
    height: 65px;
    z-index: 3;
    color: black;
    background-image: url('<%=  @floor_map.map.url %>');
    background-position:-35px -65px;
    border:2px solid #ccc;
  }
  div.imageSub a.label:hover {
    border:2px solid #000;
  }
  div.imageSub a.label2 {
    position: absolute;
    top: 143px;
    left: 43px;
    width: 95px;
    height: 50px;
    z-index: 3;
    color: black;        
  }
  div.imageSub a.label2:hover {
    background-image: url('<%=  @floor_map.map.url %>');
    background-position:-44px -144px;
    border:1px solid #ccc;    
  }
</style>
-->
