<% refworks_header %>
<h2>Reset Your Password</h2>
<%= simple_form_for @refworks_password_reset, :url => confirm_reset_refworks_password_reset_path(@refworks_password_reset.token) do |f| %>
  <% if f.object.users.count == 1 %>
    <p>This will reset the password for your RefWorks account with the login name: <strong><%= f.object.users.first.login %></strong></p>
  <% else %>
    <p>You have <%= f.object.users.count %> accounts with RefWorks.  Please select the account that needs a password reset:</p>
    <%= f.association :user, :collection => f.object.users, :label_method => "login", :prompt => "Select Account" %>
  <% end %>
  <%= f.submit :value => "Reset my RefWorks password" %>
<% end %>