<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>As requested, here is a link to reset your RefWorks password.  If you did not request a password reset, you may safely ignore this email.</p>
  <p><%= link_to(@url, @url) %></p>
  <p>This link will allow you reset your password for the following account<%= @refworks_password_reset.users.size == 1 ? "" : "s" %>:</p>
  <% @refworks_password_reset.users.each do |user| %>
    <p>Name: <%= user.name %><br>
      Login: <%= user.login %>
    </p>
  <% end %>
  <%= refworks_help %>
  <p>Sincerely,</p>
  <p>Electronic Resources<br>
  ND University Libraries</p>
  </body>
</html>