<% search_header %>
<% search_breadcrumb "Results" %>

<%= form_tag find_resources_path, method: :get, class: 'form-search' do %>
  <%= search_field_tag(:q, params[:q], class: 'search-query') %>
  <%= submit_tag("Search", class: 'btn') %>
<% end %>

<% if params[:q] %>
  <div id="recordTemplate" style="display:none;">
    <%= render partial: 'record' %>
  </div>
  <div class="row find-resources">
    <%= search_container("blended", "OneSearch") %>
    <%= search_container("catalog", "ND Catalog") %>
  </div>
<% end %>
