

<div class="row">
	<div class="span9 offset1">

		<table class="table table-condensed">
			<thead>
			<tr class="headings">
				<th>Name</th>
				<th>NetID</th>
				<th>Is Admin</th>
				<th>Default Location</th>
				<th>Default Format</th>
				<th>Supervisor</th>
				<th></th>
				<th></th>
			</tr>
			</thead>

			<tbody>

				<% users.each do |user| %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.username %></td>
						<td><%= user.admin? ? 'Y' : 'N' %></td>
						<td><%= user.default_location.name if user.default_location %></td>
						<td><%= user.default_format.name if user.default_format %></td>
						<td><%= user.supervisor %></td>
						<td><%= link_to "Edit", edit_cataloging_admin_user_path(user.id), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#genericModal" %></td>
						<td><%= button_to "Delete", cataloging_admin_user_path(user.id), :class => 'btn btn-small', :method => :delete, :confirm => "Are you sure you wish to delete the user: #{user.username}?" %></td>
					</tr>
				<% end %>

			</tbody>
		</table>


	</div>
	
	<div class="span2"></div>
	
</div>				
