<h2><%= order.title %></h2>

<p>
  <% order.display_fields.each do |caption,value| %>
    <strong><%= caption %>:</strong> <%= value %><br>
  <% end %>
</p>
<% if order.additional_details.present? %>
  <p>
    <strong>Additional Details:</strong><br>
    <% order.additional_details.split("\n").each do |line| %>
      <%= line %><br>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Submitted by:</strong> <%= order.creator.to_s %> on <%= order.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
</p>