<% just_say_yes_header %>
<!--
<div class="alert-message block-message">
  <p>For use only for <strong>PCJSY</strong> orders.</p>
</div>
-->
<div class="alert alert-error">
  PCJSY funds are currently fully expended, please submit your request through normal acquisitions workflows using usual acquisitions funds.  This form is currently not to be used.
</div>


<%= simple_form_for @just_say_yes_order, :as => :order, :html => {id: "new_just_say_yes_order", class: "form-horizontal"}, :url => just_say_yes_orders_path() do |f| %>
  <fieldset>
    <legend>Selector Information</legend>
    <div class="row">
      <div class="six columns">
        <%= f.input :selector_netid, :label => "Selector" do %>
          <% if !@required_selector %>
            <%= f.input_field :selector_netid, :collection => just_say_yes_selector_options(), :include_blank => true %>
          <% else %>
            <p class="no-input"><strong><%= @required_selector.to_s %></strong></p>
          <% end %>
        <% end %>
        <%= f.input :fund, :required => true do %>
          <p class="no-input"><strong><%= f.object.fund %></strong></p>
        <% end %>
        <%= f.input :price do %>
          <%= f.input_field :price_code, :collection => just_say_yes_price_options(), :include_blank => false, :style => "width: 60px;" %>
          <%= f.input_field :price, :required => false, :style => "width: 146px;" %>
        <% end %>
      </div>
      <div class="six columns">
        <%= f.input :electronic_resource, :as => :radio, :required => true, item_wrapper_class: "inline" %>
        <div id="cataloging_location_container" <%= f.object.electronic_resource.nil? || f.object.electronic_resource? ? raw('style="display:none;"') : ''  %>>
          <%= f.input :cataloging_location, :required => true do %>
            <span class="cataloging_location_option_container" <%= f.object.cataloging_location_other? ? raw('style="display:none;"') : "" %>>
              <%= f.input_field :cataloging_location, :collection => monographic_collection_codes(), :prompt => "Select Collection" %>
              <span class="help-block"><%= link_to("Manually enter location", "#", :class => "cataloging_location_toggle") %></span>
            </span>
            <span class="cataloging_location_option_container"  <%= f.object.cataloging_location_other? ? "" : raw('style="display:none;"') %>>
              <%= f.input_field :cataloging_location_other %>
              <span class="help-block"><%= link_to("Select from list", "#", :class => "cataloging_location_toggle") %></span>
            </span>
          <% end %>
        </div>
        <%= f.input :requester, :label => "ND Requester" do %>
          <%= f.input_field :requester, :required => false%>
        <% end %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Bibliographic information</legend>
    <%= f.input :oclc_number, :label => text_with_help("Import", "You may import bibliographic information by entering the OCLC number or ISBN and clicking the Import button. The import will search WorldCat and automatically fill in the title, author, and publisher information if available.") do %>
      OCLC: <%= f.input_field :oclc_number, :class => "three worldcat-import-oclc" %>
      or ISBN:
      <%= f.input_field :isbn, :class => "three worldcat-import-isbn" %> &nbsp;
      <%= button_tag("Import", class: "btn worldcat-import", "data-target" => oclc_monographic_orders_path) %>
      <%= worldcat_icon %>
      <%= worldcat_alerts %>
    <% end %>

    <%= f.input :title, :required => true do %>
      <%= f.input_field :title, :required => false, class: 'worldcat-import-title' %>
    <% end %>
    <div class="row">
      <div class="six columns">
        <%= f.input :format, :required => true do %>
          <span class="format_option_container" <%= f.object.format_other? ? raw('style="display:none;"') : "" %>>
            <%= f.input_field :format, :collection => just_say_yes_formats(), :prompt => "Select Format" %>
            <span class="help-block"><%= link_to("Manually enter format", "#", :class => "format_toggle") %></span>
          </span>
          <span class="format_option_container"  <%= f.object.format_other? ? "" : raw('style="display:none;"') %>>
            <%= f.input_field :format_other %>
            <span class="help-block"><%= link_to("Select from list", "#", :class => "format_toggle") %></span>
          </span>
        <% end %>
        <%= f.input :author, :required => true do %>
          <%= f.input_field :author, :required => false, class: 'worldcat-import-author' %>
          <%= f.input_field :author_unknown, inline_label: "Unknown" %>
        <% end %>
      </div>
      <div class="six columns">
        <%= f.input :publisher, :required => true, :label => text_with_help("Publisher/Provider", "The publisher is required for standard formats. Using the import will automatically include the place of publication as well, but it is not required.") do %>
          <%= f.input_field :publisher, :required => false, class: 'worldcat-import-publisher' %>
          <%= f.input_field :publisher_unknown, inline_label: "Unknown" %>
        <% end %>
        <%= f.input :publication_year, :required => true do %>
          <%= f.input_field :publication_year, :required => false, class: 'worldcat-import-publication-year' %>
          <%= f.input_field :publication_year_unknown, inline_label: "Unknown" %>
        <% end %>
      </div>
    </div>

  </fieldset>
  <fieldset>
    <legend>Additional Information</legend>
    <%= f.input :link_source, :label => text_with_help("Link", "This should be a link containing more information about the item.") do %>
      <%= f.url_field :link_source, :class => "wide", :placeholder => "http://example.com" %>
    <% end %>
    <%= f.input :additional_details, :label => text_with_help("Additional details", "Use this space to enter additional information such as edition, series name, recommended supplier, whether this is an added copy or volume, a description of content, or any other information that will help us  process your request more quickly.  Please also indicate if this resource would require an annual fee on another fund as well as if order processing and/or cataloging should be rushed.") do %>
      <%= f.input_field :additional_details, :class => "wide", rows: "10" %>
    <% end %>
    <%= f.input :attachment, :label => text_with_help("Attachment", "If you need to attach multiple files, please combine them into a single archive, such as a .zip file."), :as => :file %>
  </fieldset>
  <div class="form-actions">
    <%= f.button :submit, :value => "Click to Just Say Yes!", :class => 'btn-success' %>
    <%= link_to 'Reset Form', new_just_say_yes_order_path(), :class => 'btn' %>
  </div>
<% end %>
