<% breadcrumb([link_to('Buildings', maps_buildings_path)]) %>

<% content_title("Create Building") %>
<div style="margin-top: 25px; margin-left: 60px;">
<%= simple_form_for @building,
  :url => url_for(:action => 'create', :controller => 'maps/buildings'),
  :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :search_code, :label => "Search Code", :input_html => { :id => "code_text", :class => "span6" } %>
  <%= f.input :name, :label => "Building Name", :input_html => { :class => "span6" } %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary'%>
  </div>
<% end %>
</div>

