<% subj_row = SubjectRow.new(subject) %>
<tr>
  <td>

    <% if subject.webpages.first.nil? %>
      <%= link_to subj_row.full_name, directory_subjects_path(subject.id) %>
    <% else %>
      <%= link_to subj_row.full_name, subject.webpages.first.contact_information %>
    <% end %>

  </td>
  <td>
    <% subj_row.subject_librarians.each do | sl | %>
      <%= link_to sl, directory_employee_path(sl) %>
    <% end %>
  </td>
  <td>
    <% subj_row.subject_librarians.each do | sl | %>
      <%= sl.addresses.first.contact_information.gsub(/Library/, '') %>
    <% end %>
  </td>
  <td>
    <% subj_row.subject_librarians.each do | sl | %>
      <%= mail_to sl.emails.first.contact_information %><br />
      <%= sl.phones.first.contact_information %><br />
    <% end %>
  </td>
</tr>
