

<table class="table table-condensed no-table-hover">
	<thead>
	<tr class="headings">
		<th>Location</th>
		<th>Format</th>
		<th>&nbsp;</th>
		<th class="numberfield"># Titles</th>
		<th colspan="2"># Volumes</th>
	</tr>
	</thead>

	<tbody>

<% grouped_entries.each do |key, entries| %>

	<tr>
		<td><%= entries[0].location.name %></td>
		<td><%= entries[0].format.name %></td>
		<td><a data-toggle="collapse" href="#detail-<%= entries[0].id %>" title="view detailed entries"><i class="icon-plus-sign"></i></a></td>
		<td class="numberfield"><%= entries.sum { |e| e.titles_count } %></td>
		<td class="numberfield"><%= entries.sum { |e| e.volumes_count } %></td>
		<td class="muted">&nbsp;(<%= pluralize(entries.count, "entry") %>)</td>
	</tr>

	<tr>
		<td colspan="3" class="no-border"></td>
		<td colspan="3" class="no-border">
			<div id="detail-<%= entries[0].id %>" class="collapse">		
			<table class="table no-margin table-bordered no-hover">
				<% entries.each_with_index do |entry,i| %>
				<tr>
					<td class="numberfield yellow"><%= entry.titles_count %>&nbsp;&nbsp;</td>
					<td class="numberfield yellow"><%= entry.volumes_count %>&nbsp;&nbsp;</td>
					<td class="yellow"><em><%= entry.created_at.strftime("%m/%d/%y") %></em></td>
				</tr>
				<% end %>
			</table>
			</div>
		</td>
	</tr>
<% end %>

</tbody>
</table>


