

<div class="row">
	<div class="span7 offset1">


		<table class="table table-condensed no-table-hover no-margin">
			<thead>
			<tr class="headings">
				<th class="fulltextfield">Transfer From</th>
				<th class="fulltextfield">Transfer To</th>
				<th colspan="2"># Pieces</th>
			</tr>
			</thead>

			<tbody>

		<% grouped_entries.each do |key, entries| %>
			<tr>
				<td><%= entries[0].transfer_type.from_location.name %></td>
				<td><%= entries[0].transfer_type.to_location.name %></td>
				<td class="numberfield"><%= entries.sum { |e| e.pieces_count } %></td>
				<td><a data-toggle="collapse" href="#detail-<%= entries[0].id %>" title="view detailed entries"><i class="icon-plus-sign"></i></a>&nbsp;(<%= pluralize(entries.count, "entry") %>)</td>
			</tr>

			<tr>
				<td colspan="2" class="no-border"></td>
				<td colspan="2" class="no-border">
					<div id="detail-<%= entries[0].id %>" class="collapse">		
					<table class="table no-margin table-bordered no-hover">
						<% entries.each_with_index do |entry,i| %>
						<tr>
							<td class="numberfield yellow"><%= entry.pieces_count %>&nbsp;&nbsp;</td>
							<td class="yellow"><em><%= entry.created_at.strftime("%m/%d/%y") %></em></td>
						</tr>
						<% end %>
					</table>
					</div>
				</td>
			</tr>
		<% end %>

		</tbody>
		</table>


	</div>
	
	<div class="span5"></div>
	
</div>

