
<h4>Withdrawals</h4>

<div class="row">
  <div class="span9">

	<table class="table table-condensed">
		<tr>
			<th class='span2'>Location</th>
			<th class='span2'>Format</th>
			<th class='span2'>Number of Titles</th>
			<th class='span2'>Number of Volumes</th>
			<th class="span1"></th>
		</tr>

		<% withdrawals.each do |f| %>
		<tr>
			<td class='span2'><%= f.location.name %></td>
			<td class='span2'><%= f.format.name %></td>
			<td class='span2'><%= f.titles_count %></td>
			<td class='span2'><%= f.volumes_count %></td>
			<td class="span1"></td>
		</tr>
		<% end %>

		<tr>
		<%= form_for new_withdrawal, :class=>'Cataloging::Withdrawal', :url => new_cataloging_user_withdrawal_path(new_withdrawal.user_id) do |f| %>
			<td class='span2'><%= f.collection_select(:location_id, Cataloging::Location.all, :id, :name, {}, {:class=>'span2'}) %></td>
			<td class='span2'><%= f.collection_select(:format_id, Cataloging::Format.all, :id, :name, {}, {:class=>'span2'}) %></td>
			<td class='span2'><%= f.text_field :titles_count, class: "input-small" %></td>
			<td class='span2'><%= f.text_field :volumes_count, class: "input-small" %></td>
			<td class='span1'><%= f.submit "Add" %></td>	
		<% end %>
		</tr>
	</table>

  </div>
  <div class='span3'></div>
</div>	


