

<% breadcrumb([link_to('Cataloging Statistics Home', cataloging_root_path), "Entry for #{@month_start_date.strftime('%B %Y')}" ]) %>

<% content_for :content_title do %>
    <div class="page-header"><h1>Statistics for <%= @cataloging_user.display_name %> <small><%= @month_start_date.strftime("%B %Y")  %></small></h1></div>
<% end %>



<div class="indent"><h2 class="no-margin">Copy Cataloging</h2></div>
<div id="div_copy_cataloging">
	<%= render partial: "copy_cataloging", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::CopyCataloging"}, u_name: "copy_cataloging" } %>
</div>
<%= render partial: "cataloging/entries/forms/copy_cataloging", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::CopyCataloging"}, u_name: "copy_cataloging", cataloging_user: @cataloging_user, month_start_date: @month_start_date } %>
<br />
<br />


<div class="indent"><h2 class="no-margin">Original Cataloging</h2></div>
<div id="div_original_cataloging">
	<%= render partial: "original_cataloging", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::OriginalCataloging"}, u_name: "original_cataloging" } %>
</div>
<%= render partial: "cataloging/entries/forms/original_cataloging", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::OriginalCataloging"}, u_name: "original_cataloging", cataloging_user: @cataloging_user, month_start_date: @month_start_date } %>
<br />
<br />

<div class="indent"><h2 class="no-margin">Adds</h2></div>
<div id="div_volume_addition">
	<%= render partial: "volume_addition", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::VolumeAddition"}, u_name: "volume_addition" } %>
</div>
<%= render partial: "cataloging/entries/forms/volume_addition", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::VolumeAddition"}, u_name: "volume_addition", cataloging_user: @cataloging_user, month_start_date: @month_start_date } %>
<br />
<br />

<div class="indent"><h2 class="no-margin">Withdrawals</h2></div>
<div id="div_withdrawal">
	<%= render partial: "withdrawal", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::Withdrawal"}, u_name: "withdrawal" } %>
</div>
<%= render partial: "cataloging/entries/forms/withdrawal", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::Withdrawal"}, u_name: "withdrawal", cataloging_user: @cataloging_user, month_start_date: @month_start_date } %>
<br />
<br />


<div class="indent"><h2 class="no-margin">Transfers</h2></div>
<div id="div_transfer">
	<%= render partial: "transfer", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::Transfer"}, u_name: "transfer" } %>
</div>
<%= render partial: "cataloging/entries/forms/transfer", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::Transfer"}, u_name: "transfer", cataloging_user: @cataloging_user, month_start_date: @month_start_date } %>


<br />
<br />

<div id="div_special_procedure">
	<%= render partial: "special_procedure", locals: {grouped_entries: @grouped_entries.select{|k,v| k[0] == "Cataloging::SpecialProcedure"}, u_name: "special_procedure", special_procedure_types: @special_procedure_types, cataloging_user: @cataloging_user, month_start_date: @month_start_date } %>
</div>

<div style="display:none">
<%= grouped_collection_select(@cataloging_user.entries.new, :format_id, Cataloging::Location.sorted, :formats, :name, :id, :name, options = {:selected => @cataloging_user.default_format_id}, html_options = {:id=>"default_locations_format", :class=>"span2"}) %>
</div>

<br />