<% set_body_class('directory-page') %>

<div class="DirectoryMenu">
	<h2>Employee Directory</h2>
	<ul class="nav nav-tabs nav-stacked">
		<li class="<%= current_page_css_class('directory/employees') %>"><%= link_to("Employees", directory_employees_path) %></li>
		<li class="<%= current_page_css_class('directory/organization') %>"><%= link_to("Organization", directory_organization_path) %></a></li>
		<li class="<%= current_page_css_class('directory/departments') %>"><%= link_to("Programs and Units", directory_departments_path) %></li>
		<li class="<%= current_page_css_class('directory/committees', 'DirectoryUniversityCommittee') %>"><%= link_to("University Committees", directory_university_committees_path) %></a></li>
		<% if @permission.current_user_is_library_employee? %>
			<li class="<%= current_page_css_class('directory/committees', 'DirectoryLibraryTeam') %>"><%= link_to("Library Teams", directory_library_teams_path) %></a></li>
            <li class="<%= current_page_css_class('directory/photos', 'DirectoryPhotoGallery') %>"><%= link_to("Photo Gallery", directory_photos_path()) %></a></li>
		<% end %>

	</ul>

	<br />
	<br />

	
	<div class="well">
		<ul class="nav nav-tabs nav-stacked">
			<li class="<%= current_page_css_class('directory/subjects') %>"><%= link_to("Subject Librarians", directory_subjects_path) %></li>
			<li><%= link_to("Subject Librarian Guide (PDF)", "http://resources.library.nd.edu/documents/Selectors.pdf", target: :_blank) %></li>
			<!--<li><%= link_to("Org Chart", "http://library.nd.edu/about/org/", target: :_blank) %></li>-->
		</ul>
	</div>
</div>


