<h1>RefWorks</h1>

<a href="http://eresources.library.nd.edu/databases/refworks">Login</a> |
<a href="<%= Rails.configuration.library_url %>/refworks/#account">Creating Accounts</a> |
<a href="<%= Rails.configuration.library_url %>/refworks/#training">Training</a> |
<a href="<%= Rails.configuration.library_url %>/refworks/#writencite">Write-n-Cite</a> |
<a href="<%= Rails.configuration.library_url %>/refworks/import_citations.shtml">Import Citations</a> |
<a href="<%= Rails.configuration.library_url %>/refworks/#sharing">Sharing References</a> |
<a href="<%= Rails.configuration.library_url %>/eresources/login/netid/refworks/ndgroupcode.shtml">Forgot ND Group Code?</a> |
<%= link_to('Forgot Password?', new_refworks_password_reset_path())%>
|
<a href="http://www.refworks.com/Refworks/help/Frequently_Asked_Questions.htm"></a><a href="#helps">Help</a></p>

