<% emp_row = EmployeeRow.new(employee) %>
<% if !emp_row.photo.blank? %>
  <div name="<%= emp_row.display_name.slice(0) %>" itemscope itemtype="http://schema.org/Person" class="employee_block">
    <div class="staffImage">
      <%= image_tag(emp_row.photo, class: "", alt: "#{employee.first_last} Portrait", "itemprop" => "image" ) %>
    </div>
    <div>
      <p class="" itemprop="name"><%= link_to employee, directory_employee_path(employee), "itemprop" => "url" %>
      <% if emp_row.show_subject_librarian_icon? %>
        <span><a href="#" class="subject_librarian_info gold underline" data-content="<%= render emp_row.subject_librarian_subjects %>" data-placement="top" data-original-title="Subject Librarian">SL</a></span>
      <% end %>
      </p>
      <p itemprop="jobTitle"><%= !emp_row.primary_title.blank? ? emp_row.primary_title.gsub(/,.+/, '').truncate(40, separator: ' ', omission: '...') : '' %></p>
    </div>

  </div>
<% end %>
