<% emp_row = EmployeeRow.new(employee) %>
<tr>
  <td>
    <p class="pull-left large"><%= link_to employee, directory_employee_path(employee) %></p>
    <% if emp_row.show_subject_librarian_icon? %>
      <p class="pull-right"><a href="#" class="subject_librarian_info gold underline" data-content="<%= render emp_row.subject_librarian_subjects %>" data-placement="top" data-original-title="Subject Librarian">SL</a></p>
    <% end %>
  </td>
  <td>
    <%= emp_row.primary_title.gsub(/,.+/, '').truncate(40, separator: ' ', omission: '...') %>
  </td>
  <td>
    <% if emp_row.primary_department %>
      <%= link_to truncate(emp_row.primary_department.name, length: 35, separator: ' ', omission: '... '), directory_department_path(emp_row.primary_department) %>
    <% end %>
  </td>
  <td>
    <% emp_row.addresses.each do | a | %>
      <%= a.is_primary? ? a.contact_information.gsub(/Library/, '') : '' %>
    <% end %>    
  </td>
  <td>
    <%= mail_to emp_row.primary_email %>
    <br />
    <%= emp_row.primary_phone %>
  </td>
  <td>
    <%= emp_row.about_text %>
  </td>
</tr>
