<% directory_menu %>

<% emp = EmployeeShowView.new(@employee, @permission) %>

<% breadcrumb([link_to('Employee Directory', directory_root_path), link_to('Employees', directory_employees_path), @employee.first_last]) %>

<% content_for :content_title do %>
  <div class="page-header">
    <h1><%= @employee.first_last %>
      <% if !@employee.all_titles.nil? %>
        <% if !@employee.all_titles[1].nil? %>

          <br /><small><%= @employee.all_titles[0] %></small>
          <br /><small><%= @employee.all_titles[1] %></small>

        <% else %>
          <small><%= @employee.all_titles[0] %></small>
        <% end %>
      <% end %>
      
      <div class="pull-right">

        <% if @permission.current_user_can_edit?(@employee) %>
            <%= link_to "Edit Employee", edit_directory_admin_employee_path(@employee.id), :class => "btn btn-primary" %>
        <% end %>

      </div>
    </h1>
  </div>
<% end %>


<div class="employeeShow">
  <div class="staffrow clearfix">

    <div class="staffInfo pull-left">

      <% if emp.department_display.length == 1 %>
        <% d, dt = emp.department_display.first %>
        <div class="subsection"><%= link_to(d.name, directory_department_path(d.id), class: "large") %></div>
        <hr class ="no-margin"/>
      <% else %>
        <table class="table table-condensed no-table-hover light-border large">
          <% emp.department_display.each do |d, dt| %>
            <tr>
              <td><strong><%= dt %>: </strong></td>
              <td><%= link_to(d.name, directory_department_path(d.id)) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>

      <div class="staffContactInfo">
        <address>
          <% emp.addresses.each do |a| %>
            <%= a %><br>
          <% end %>
        </address>

        <address>
          <% emp.phones.each do |p| %>
            <abbr title="Office Phone">o:</abbr>  <%= p %><br />
          <% end %>

          <% if emp.primary_fax %>
            <abbr title="Fax">f:</abbr>  <%= emp.primary_fax %></br>
          <% end %>

          <abbr title="Email">e:</abbr>  <%= mail_to(emp.primary_email) %></br>
        </address>


        <% emp.webpages.each do |wp| %>
          <br />
          <%= link_to(wp.contact_information, wp.contact_information) %>
        <% end %>
        <br />

      </div>

    </div>

    <div class="staffImage pull-right">
      <% if !emp.photo_url.nil? %>
        <%= image_tag(emp.photo_url, class: "pull-right") %>
      <% end %>
    </div>
  </div>
    
  <div class="clearfix twelve columns"></div>


  <% if @permission.current_user_is_administrator? %>
    <div class="highlight"><h2>Administrative Info</h2></div>

      <div class="subsection">
        <table class="table-condensed no-border">
          <% if !emp.supervisor.nil? %><tr><td><strong>Supervisor:</strong></td><td><%= link_to(emp.supervisor) %></td></tr><% end %>
          <tr><td><strong>Rank:</strong></td><td><%= emp.employee_rank %></td></tr>   
          <tr><td><strong>Status:</strong></td><td><%= emp.employee_status %></td></tr>   
          <tr><td><strong>Start Date:</strong></td><td><%= emp.start_date.strftime("%m/%d/%Y") %></td></tr>
          <% if !emp.leave_date.nil? %><tr><td><strong>Leave Date:</strong></td><td><%= emp.leave_date.strftime("%m/%d/%Y") %></td></tr><% end %>
        </table>
      </div>
    <br />
  <% end %>




  <% if @employee.university_committees.exists? %>
    <div class="highlight"><h2>University Committees</h2></div>

    <div class="subsection">
      <ul class="unstyled">

      <% @employee.university_committees.each do |lt| %>
        <li><%= link_to(lt.name, directory_university_committee_path(lt.id)) %></li>
      <% end %>

      </ul>
    </div>
  <% end %>

  <br />



  <div id="staffAbout" class="clearfix">
  <% if emp.render_about_text %>
    <div class="highlight"><h2>About</h2></div>
    <div class="aboutText"><%= emp.render_about_text %></div>
  <% end %>
  </div>
</div>