<% monographic_order_header "Order Requests" %>
<% monographic_breadcrumb %>

<%= render partial: 'search_form', locals: {search: @search} %>

<div class="pull-right">
  <%= link_to monographic_orders_path(:csv, params) do %>
    Download Spreadsheet
    <span class="icon-file"></span>
  <% end %>
</div>
<%= paginate @search.page %>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <% if current_user.selector_admin? || !current_user.selector? %>
      <th>Selector</th>
    <% end %>
    <% if current_user.selector_admin? || current_user.selector? %>
      <th>Submitter</th>
    <% end %>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @search.page.each do |order| %>
    <tr>
      <td><%= link_to(order.display_title, monographic_order_path(order)) %></td>
      <% if current_user.selector_admin? || !current_user.selector? %>
      <td><%= order.selector.name %></td>
    <% end %>
    <% if current_user.selector_admin? || current_user.selector? %>
      <td><%= order.creator.name %></td>
    <% end %>
      <td><%= l order.date, format: :us %></td>
    </tr>
  <% end %>
  </tbody>
</table>