<h1>Monographic Order Form</h1>

<%= simple_form_for @monographic_order, :url => test_monographic_orders_path() do |f| %>
  <div class="actions">
    <%= f.button :submit, :value => "Submit to Acquisitions", :class => 'btn primary' %>
  </div>
  <fieldset>
    <legend>Required Information</legend>
    <%= f.input :oclc_number, :label => "OCLC Number" do %>
      <%= f.input_field :oclc_number %> <%= link_to("Import from WorldCat", oclc_monographic_orders_path, :class => "btn", :id => "import_oclc_button") %>
    <% end %>
    <%= f.input :title %>
    <div class="row">
      <div class="span8">
        <%= f.input :format, :required => true do %>
          <span class="format_option_container" <%= f.object.format_other? ? raw('style="display:none;"') : "" %>>
            <%= f.input_field :format, :collection => monographic_formats(), :prompt => "Select Format" %>
            <span class="help-block"><%= link_to("Manually enter format", "#", :class => "format_toggle") %></span>
          </span>
          <span class="format_option_container"  <%= f.object.format_other? ? "" : raw('style="display:none;"') %>>
            <%= f.input_field :format_other %>
            <span class="help-block"><%= link_to("Select from list", "#", :class => "format_toggle") %></span>
          </span>
        <% end %>
        <%= f.input :fund, :required => true do %>
          <span class="fund_option_container" <%= f.object.fund_other? ? raw('style="display:none;"') : "" %>>
            <%= f.input_field :fund, :collection => monographic_fund_codes(), :prompt => "Select Fund" %>
            <span class="help-block"><%= link_to("Manually enter fund", "#", :class => "fund_toggle") %></span>
          </span>
          <span class="fund_option_container"  <%= f.object.fund_other? ? "" : raw('style="display:none;"') %>>
            <%= f.input_field :fund_other %>
            <span class="help-block"><%= link_to("Select from list", "#", :class => "fund_toggle") %></span>
          </span>
        <% end %>
        <%= f.input :cataloging_location, :required => true do %>
          <span class="cataloging_location_option_container" <%= f.object.cataloging_location_other? ? raw('style="display:none;"') : "" %>>
            <%= f.input_field :cataloging_location, :collection => monographic_collection_codes(), :prompt => "Select Collection" %>
            <span class="help-block"><%= link_to("Manually enter location", "#", :class => "cataloging_location_toggle") %></span>
          </span>
          <span class="cataloging_location_option_container"  <%= f.object.cataloging_location_other? ? "" : raw('style="display:none;"') %>>
            <%= f.input_field :cataloging_location_other %>
            <span class="help-block"><%= link_to("Select from list", "#", :class => "cataloging_location_toggle") %></span>
          </span>
        <% end %>
      </div>
      <div class="span8">
        <%= f.input :author do %>
          <%= f.input_field :author %>
          <%= input_list([[f.input_field(:rush_order), "Author Unknown", {:for => :monographic_order_rush_order}]]) %>
        <% end %>
        <%= f.input :publisher %>
        <%= f.input :publication_year %>
      </div>
    </div>
    
  </fieldset>
  <fieldset>
    <legend>Additional Information</legend>
    <div class="row">
      <div class="span8">
        <%= f.input :isbn, :label => "ISBN" %>
        <%= f.input :edition %>
        <%= f.input :series, :label => "Series name" %>
        <%= f.input :recommended_supplier %>
      </div>
      <div class="span8">
        
        <%= f.input :rush_order, :wrapper_html => {:class => monographic_order_errors_on_rush_order?(f.object) ? "error" : ""} do %>
          <div class="input-prepend">
            <label class="add-on active">
              <%= f.input_field :rush_order %>
            </label>
            <span class="rush_order_reason_option_container" <%= f.object.rush_order_reason_other? ? raw('style="display:none;"') : "" %>>
              <%= f.input_field :rush_order_reason, :class => "span3 select-append", :collection => ["Needed for class", "Limited availability", "For reserve"], :prompt => "Select Reason" %>
              <span class="help-block"><%= link_to("Manually enter reason", "#", :class => "rush_order_reason_toggle") %></span>
            </span>
            <span class="rush_order_reason_option_container"  <%= f.object.rush_order_reason_other? ? "" : raw('style="display:none;"') %>>
              <%= f.input_field :rush_order_reason_other, :class => "span3" %>
              
              <span class="help-block"><%= link_to("Select from list", "#", :class => "rush_order_reason_toggle") %></span>
            </span>
            <%= f.full_error :rush_order_reason %>
          </div>
        <% end %>
        <%= f.input :requester, :label => "Hold for requester", :placeholder => "Requester Name" %>
        <%= f.input :added_copy, :label => "Added copy?" %>
        <%= f.input :added_volume, :label => "Added volume?" %>
      </div>
    </div>
    <%= f.input :link_source, :label => text_with_help("Link", "This should be a link containing more information about the item.") do %>
      <%= f.url_field :link_source, :class => "wide", :placeholder => "http://example.com" %>
    <% end %>
    <%= f.input :additional_details do %>
      <%= f.input_field :additional_details, :class => "wide" %>
    <% end %>
    <%= f.input :attachment, :label => text_with_help("Attachment", "If you need to attach multiple files, please combine them into a single archive, such as a .zip file."), :as => :file %>
  </fieldset>
  <div class="actions">
    <%= f.button :submit, :value => "Submit to Acquisitions", :class => 'btn primary' %>
    <%= link_to 'Reset', new_monographic_order_path(), :class => 'btn' %>
  </div>
<% end %>