<h1>Monographic Order</h1>

<div class="alert-message block-message warning">
  <p>
    Please fill this form as completely as possible so that the library can identify the item.
  </p>
</div>

<%= simple_form_for @monographic_order, :url => test_monographic_orders_path() do |f| %>
  <fieldset>
    <legend>Required Information</legend>
    <div class="row">
      <div class="span8">
        <%= f.input :title %>
        <%= f.input :author %>
        <div class="clearfix <%= monographic_order_errors_on_fund?(f.object) ? "error" : "" %>">
          <%= f.label :fund, :required => true %>
          <div class="input">
            <span class="fund_option_container" <%= f.object.fund_other? ? raw('style="display:none;"') : "" %>>
              <%= f.input_field :fund, :collection => fund_codes(), :prompt => "Select Fund" %>
              <span class="help-block"><%= link_to("Manually enter fund", "#", :class => "fund_toggle") %></span>
            </span>
            <span class="fund_option_container"  <%= f.object.fund_other? ? "" : raw('style="display:none;"') %>>
              <%= f.input_field :fund_other %>
              <span class="help-block"><%= link_to("Select from list", "#", :class => "fund_toggle") %></span>
            </span>
            <%= f.full_error :fund %>
          </div>
        </div>
        <div class="clearfix <%= monographic_order_errors_on_cataloging_location?(f.object) ? "error" : "" %>">
          <%= f.label :cataloging_location, :required => true %>
          <div class="input">
            <span class="cataloging_location_option_container" <%= f.object.cataloging_location_other? ? raw('style="display:none;"') : "" %>>
              <%= f.input_field :cataloging_location, :collection => collection_codes(), :prompt => "Select Collection" %>
              <span class="help-block"><%= link_to("Manually enter location", "#", :class => "cataloging_location_toggle") %></span>
            </span>
            <span class="cataloging_location_option_container"  <%= f.object.cataloging_location_other? ? "" : raw('style="display:none;"') %>>
              <%= f.input_field :cataloging_location_other %>
              <span class="help-block"><%= link_to("Select from list", "#", :class => "cataloging_location_toggle") %></span>
            </span>
            <%= f.full_error :cataloging_location %>
          </div>
        </div>
      </div>
      <div class="span8">
        <%= f.input :publisher %>
        <%= f.input :publication_year %>
        <%= f.input :publication_place, :label => "Place of publication" %>
      </div>
    </div>
    
  </fieldset>
  <fieldset>
    <legend>Additional Information</legend>
    <div class="row">
      <div class="span8">
        <%= f.input :isbn, :label => "ISBN" %>
        <%= f.input :series, :label => "Series name" %>
        <%= f.input :link_source, :label => "Link", :placeholder => "http://example.com", :hint => "This should be a link containing more information about the item." %>
      </div>
      <div class="span8">
        
        <div class="clearfix <%= monographic_order_errors_on_rush_order?(f.object) ? "error" : "" %>">
          <%= f.label :rush_order, "Rush order?" %>
          <div class="input">
            <div class="input-prepend">
              <label class="add-on active">
                <%= f.input_field :rush_order %>
              </label>
              <span class="rush_order_reason_option_container" <%= f.object.rush_order_reason_other? ? raw('style="display:none;"') : "" %>>
                <%= f.input_field :rush_order_reason, :class => "span3 select-append", :collection => ["Needed for class", "Limited availability", "For reserve"], :prompt => "Select Reason" %>
                <span class="help-block"><%= link_to("Manually enter reason", "#", :class => "rush_order_reason_toggle") %></span>
              </span>
              <span class="rush_order_reason_option_container"  <%= f.object.rush_order_reason_other? ? "" : raw('style="display:none;"') %>>
                <%= f.input_field :rush_order_reason_other, :class => "span3" %>
                
                <span class="help-block"><%= link_to("Select from list", "#", :class => "rush_order_reason_toggle") %></span>
              </span>
              <%= f.full_error :rush_order_reason %>
            </div>
          </div>
        </div>
        <%= f.input :requester, :label => "Hold for requester", :placeholder => "Requester Name" %>
        <%= f.input :added_copy, :label => "Added copy?" %>
        <%= f.input :added_volume, :label => "Added volume?" %>
      </div>
    </div>
    <%= f.input :additional_details, :cols => 80 %>
    <%= f.input :attachment, :hint => "If you need to attach multiple files, please combine them into a single archive, such as a .zip file.", :as => :file %>
  </fieldset>
  <div class="actions">
    <%= f.button :submit, :value => "Submit", :class => 'btn primary' %>
    <%= link_to 'Reset', new_monographic_order_path(), :class => 'btn' %>
  </div>
<% end %>