<% breadcrumb([link_to('Map Request', new_maps_request_path)]) %>

<h2>Map Request Form</h2>
<div style="padding: 10px;">Please visit the Information Service desk <a href="http://www.library.nd.edu/circulation/mapspolicy.shtml">USGS map printing policy</a> for more information about this service.</div>
<div style="padding: 10px;">
  <h3>How to locate a map name</h3>
  <ol>
    <li>Visit the <a href="http://store.usgs.gov/b2c_usgs/usgs/maplocator/%28ctype=areaDetails&xcm=r3standardpitrex_prd&carea=%24ROOT&layout=6_1_61_50_2&uiarea=2%29/.do">map locator</a> section of the USGS website.</li>
    <li>Enter the address or place name of your desired location, or navigate to your desired location using the displayed map.</li>
    <li>Click the red marker.  The names of quadrangles for your desired location will be displayed.</li>
    <li>Enter the map name of your desired location in the blank below.</li>
    <li>For assistance, please call 574-631-6318, or visit the Information desk, in the lower level or first floor of Hesburgh Library.</li>
  </ol>
</div>
<%= simple_form_for @r,
  :url => url_for(:action => 'create', :controller => 'maps/request'),
  :html => {:class => 'form-horizontal', :id => 'maps_request_form' } do |r| %>
  <%= r.error_notification %>
  <%= r.input :map_name, :label => "Map Name", :hint => "Please include state if map is outside of Indiana.", :type => "string", :input_html => { :id => "r_map_name", :class => "required_data", :style => "width: 350px; max-width: 350px;" } %>
  <%= r.input :date_needed, :label => "Date Needed By", :hint => "Most map requests are available within 48 hours.  You will receive an email when your map is ready at the lower level Information desk of the Hesburgh Library.", :type => "string", :input_html => { :id => "r_needed_by", :style => "height: 25px;" } %>
  <%= r.input :scale, :hint => 'If you require maps in multiple scales, please submit more than one request', :label => 'Map Scale', :collection => [['24K (1:24,000, also known as 7.5 minute) -- small area (less than 64 square miles), very detailed', '24K'], ['100K (1:100,000, including 30 x 60 minute) -- larger area, less detail', '100K'], ['250K (1:250,000, 1 degree latitude x 2 degrees latitude) -- largest area (more than 6000 square miles), least detail', '250K'], ['Other (please specify in the additional information box below']], :as => :radio_buttons %>
  <%= r.input :type, :hint => 'This is optional. If you do not make a choice here, the traditional type will be used', :label => 'Topographical type', :collection => [['TRADITIONAL - older (mostly 1980s and 1990s), includes vegetative cover', 'traditional'], ['NEW GENERATION - (if available) more recent, but does not include vegetative cover', 'new_generation'], ['SATELLITE OVERLAY - more recent, but orthographic imagery can obscure contours', 'sattelite_overlay']], :as => :radio_buttons %> 
  <%= r.input :note, :label => 'Additional Information (optional)', :as => :text, :input_html => { :style => 'max-width: 350px; width: 350px; height: 150px;' } %>
  <div class="form-actions span6">
    <%= r.button :submit, :class => 'btn-primary', :name => 'submit', :value => 'Submit', :id => 'submit' %>
  </div>
<% end %>

