
<div class="row">
    <div class="span6">

        <div class="directory highlight">
        <span class="label"><strong>Add a new: </strong></span>
            <%= link_to "Email", new_polymorphic_path([:directory, :admin, contactable_type, :email], "#{contactable_type}_id".to_sym => contactable.id), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
            <%= link_to "Phone", new_polymorphic_path([:directory, :admin, contactable_type, :phone], "#{contactable_type}_id".to_sym => contactable.id), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
            <%= link_to "Mailing Address", new_polymorphic_path([:directory, :admin, contactable_type, :address], "#{contactable_type}_id".to_sym => contactable.id), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
            <%= link_to "Webpage", new_polymorphic_path([:directory, :admin, contactable_type, :webpage], "#{contactable_type}_id".to_sym => contactable.id), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
            <%= link_to "Fax", new_polymorphic_path([:directory, :admin, contactable_type, :fax], "#{contactable_type}_id".to_sym => contactable.id), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>

        </div>

        <br /><br />


        <table class="table table-condensed no-table-hover">
            <tr>
                <th class="span3" colspan="2">Contact Info</th>
                <th class="span1">Primary?</th>
                <th class="span1"></th>
                <th class="span1"></th>
            </tr>
            
            <%= render partial: "/directory/admin/contact_informations/contact_information_row", collection: contactable.contact_informations.sorted %>
        </table>

        <br />
        <br />



    </div>
    <div class="span6"></div>
</div>
