<div>
  <ul>
    <li><%= @patron.full_name %></li>
    <li><%= @patron.netid %></li>
    <li><%= @patron.email %></li>
    <li><%= @patron.address_1 %></li>
    <li><%= @patron.address_2 %></li>
    <li><%= @patron.phone_number %></li>
  </ul>
</div>
