<div class='orgTitleBar level<%= level %>'>
	<span class="innerBottom">
		<% if level == 2 or level == 3 then %>
			<a href="#" onClick="return false;" data-toggle="collapse" data-target="#div_<%= department.id %>"><i class="icon-chevron-down collapse_icon" id="icon_<%= department.id %>"></i></a>&nbsp;
		<% end %>
		<%= department.name %>
	</span>
</div>


<div class="orgDepartment collapse level<%= level %>" id="div_<%= department.id %>">
	<%= render partial: "member", locals: { employee_units: department.employee_units.sorted_head.sorted_employees } %>
</div>
