

<%= f.error_notification %>
<%= f.input :code, :label => "Code", :input_html => { :id => "code_text", :class => "span6" } %>
<%= f.input :name, :label => "Name", :input_html => { :id => "name_text", :class => "span6" } %>
<%= f.input(:building_id, :collection => Building.all, :required => true) %>
<%= f.input :notification_emails, :label => "Notification Email(s)", :input_html => { :style => "height: 50px;" } %>
<%= f.input :unit_id, :as => 'select', :collection => options_for_unit_select, :include_blank => "---Please Select---", :label => "Unit ID" %>
<%= f.input :primary_contact_netid, :as => 'select', :collection => options_for_person_select, :include_blank => "---Please Select---", :label => "Primary Contact" %>
<%= f.input :primary_email, :label => "Service Point Email", :input_html => { :style => "height: 28px;" } %>
<%= f.input :primary_phone, :type => :string, :input_html => { :style => "height: 28px;" }, :label => "Service Point Phone" %>

<div class="form-actions">
  <button tabindex="7" class="btn btn-primary">Save</button>
</div>
