<% breadcrumb(['Service Points']) %>
<% content_title('Library Hours') %>

<%= link_to "Get Hours on your Site", availability_javascript_builder_path, :class =>'btn'  %>


<table class="table table-striped table-hover">
  <colgroup>
    <col class="span3">
    <col class="span5">
    <col class="span3">
  </colgroup>
  <thead>
  <tr>
    <th>Service Point </th>
    <th>Current Hours</th>
    <th>Notification Emails<%= help_popover("Notification Emails", "Emails of the admin who will receive the notification to check if the service point hours are up to date.  Emails are sent out 3 times a year: May 1st, Augest 1st, and Novemember 1st. ", "popover_left") %></th>
  </tr>
  </thead>
  <tbody>
<% @service_points.each do | service | %>
  <tr>
    <td>
      <%= link_to h(service.name), availability_service_point_hours_path(service) %>
      <span style="margin-left: 10px;"><%= link_to 'Edit',  edit_availability_service_point_path(service) %></span>
    </td>
    <td class="hours_listing">
      <div class="hours">
      <% if service.no_current_hours? %>
        <div class="alert alert-error">
          <%= t(:no_current_hours_error_message, :service_name => service.name) %>
        </div>
      <% end %>
      <% if service.gap_in_regular_hours? %>
        <div class="alert alert-error">
          <%= t(:gap_in_regular_hours, :service_name => service.name) %>
        </div>
      <% end %>
      <%= raw service.render_current_hours %>
      </div>
    </td>
    <td>
      <div>
        <% if service.notification_emails.present? %>
          <%= simple_format(service.notification_emails ) %>
        <% else %>
          <p>No Notification Emails</p>
        <% end %>
        <%= link_to 'Edit', '#', class: "notification_email_change" %>

      </div>
      <%= form_for service, :html => { :style => 'display:none;'} do | f | %>
        <p class="help-block">Add all the emails you want to receive notifications with commas separating them.</p>
        <%= f.text_area :notification_emails, class: "notification_textarea", placeholder: "e.g. jhartzler@nd.edu, bob@nd.edu" %>
        <%= f.submit :Save, class: "btn btn-primary notification_button"%>
      <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
