<% breadcrumb(['Service Points']) %>

<h1>Library Hours</h1>

<%= link_to "Get Hours on your Site", availability_javascript_builder_path, :class =>'btn'  %>


<table class="table table-striped table-hover">
  <colgroup>
    <col class="span3">
    <col class="span5">
    <col class="span3">
  </colgroup>
  <thead>
  <tr>
    <th>Service Point </th>
    <th>Current Hours</th>
    <th>Notification Emails<%= help_popover("Notification Emails", "Emails of the admin who will receive the notification to check if the service point hours are up to date. ") %></th>
  </tr>
  </thead>
  <tbody>
<% @service_points.each do | service | %>
  <% hours = Availability::HoursPresenter.new(service.regular_hours_for_date(), self) %>
  <tr>
    <td><%= link_to h(service.name), availability_service_point_hours_path(service) %></td>
    <td><%= raw hours.render %></td>
    <td>
      <div>
        <% if service.notification_emails.present? %>
          <%= simple_format(service.notification_emails ) %>
        <% else %>
          <p>No Notification Emails</p>
        <% end %>
        <%= link_to 'Edit', '#', class: "notification_email_change" %>

      </div>
      <%= form_for service, :html => { :style => 'display:none;'} do | f | %>
        <p class="help-block">Add all the emails you want to receive notifications with commas separating them.</p>
        <%= f.text_area :notification_emails, class: "notification_textarea", placeholder: "e.g. jhartzler@nd.edu, bob@nd.edu" %>
        <%= f.submit :Save, class: "btn btn-primary notification_button"%>
      <% end %>  
    </td>
  </tr>
<% end %>
  </tbody>
</table>
