<% breadcrumb([link_to('Service Points', availability_service_points_path), 'Hours Service Points ']) %>

<h1>Library Hours</h1>

<%= link_to "Get Hours on your Site", availability_javascript_builder_path, :class =>'btn'  %>


<table class="table table-striped table-hover">
  <colgroup>
    <col class="span3">
    <col class="span5">
    <col class="span3">
  </colgroup>
  <thead>
  <tr>
    <th>Service Point </th>
    <th>Current Hours</th>
    <th>Notification Emails<%= help_popover("Notification Emails", "Emails of the admin who will receive the notification to check the service point hours.") %></th>
  </tr>
  </thead>
  <tbody>
<% Availability::ServicePoint.all.each do | service | %>
  <% hours = Availability::HoursPresenter.new(service.regular_hours_for_date(), self) %>
  <tr>
    <td><%= link_to h(service.name), availability_service_point_hours_path(service) %></td>
    <td><%= raw hours.render %></td>
    <td><%= simple_format(service.notification_emails ) %></td>
  </tr>
<% end  %>
  </tbody>
</table>
