<style>

body { background-color: white; }
div.header { display:none; }
div.menu { display: none; }
div.breadcrumb { display: none; }
div.breadcrumb p { display: none; }
div.content { background-color: white; }
div.logged_in_user {display:none; }
div.footer { display:none; }

.print_page { width: 100%; margin: 0px; padding: 0px; border: none; float: none;}

.print_page { page-break-after:always; }
.print_page:last-child { page-break-after:auto; }

.print_page { font-size: 3em; color: 0000CC; }
.print_page h1 { line-height: 1em; margin-bottom: .66em;  color: #6600CC }
.print_page h1.long { font-size: 1.40em; }
.print_page h1.short { font-size: 1.70em; }

.print_page .hours_name { text-align: center; margin-bottom: .75em; color: #000; }
.print_page .hours_row { line-height: 1.5em}
.print_page .hours_append_text { font-size: .75em; line-height: 1.25em; margin-top: 50px;}
.print_page .hours_prepend_text { font-size: .75em; line-height: 1.25em; }

.print_page a { color: inherit; text-decoration: none; }

.print_page_footer { padding-top: 55px; font-size: .5em; text-align:center; }

.print_buttons {display: none;}
.print_message { display: none; }
.print_title { display: none;}
</style>

<% breadcrumb([link_to('Service Points', availability_service_points_path), link_to(@service_point.name, availability_service_point_hours_path(@service_point)), "Print Hours"]) %>

<h1 class="print_title">Print <%= h @service_point.name %></h1>
<div class="print_buttons">
  <%= link_to 'Print', '#', :class => 'print_link btn btn-primary' %>
</div>
<p class="print_message">
  This is just a rough idea of how it will look printed. Press "print" and use print preview to see a better view.
</p>
<div class="print_page">
  <h1 class="<%= (@service_point.name.size > 35) ? 'long' : 'short' %>"><%= @service_point.name %></h1>

  <div class="regular_hours">
    <div class="hours">
      <% hours = Availability::HoursPresenter.new(@service_point.regular_hours_for_date(), self) %>
  	  <div class="hours_name">
        <%= hours.name %>
        <%= link_to 'Edit', edit_availability_service_point_regular_hour_path(hours.service_point, hours), :class => 'print_buttons btn' %>
      </div>
  	  <%= raw hours.render(true) %>
    </div>
  </div>

  <div class="print_page_footer">For more information visit <%= link_to "http://www.library.nd.ed/about/hours" %></div>
</div>
<% if @service_point.hours_exceptions_for_date().size > 0 %>
<div class="print_page">
  <% @service_point.hours_exceptions_for_date().each do | exception_hours |%>
    <h1 class="<%= (@service_point.name.size > 35) ? 'long' : 'short' %>"><%= @service_point.name %></h1>

    <div class="hours_exceptions">
      <div class="hours">
        <% hours = Availability::HoursPresenter.new(exception_hours, self) %>
    	  <div class="hours_name">
          <%= hours.name %>
          <%= link_to 'Edit', edit_availability_service_point_regular_hour_path(hours.service_point, hours), :class => 'print_buttons btn' %>
        </div>
    	  <%= raw hours.render(true) %>
      </div>
    </div>

    <div class="print_page_footer">For more information visit <%= link_to "http://www.library.nd.ed/about/hours" %></div>
  <% end %>
</div>
<% end %>
