
<%= f.input(:collection_code, :required => true) %>

<%= f.input(:sublibrary_code, :required => true) %>

<%= f.input(:begin_call_number, :required => true) %>

<%= f.input(:end_call_number, :required => true) %>

<div class="form-actions">
  <%= f.submit "Save", class: 'btn btn-primary' %>
  <%= link_to 'Cancel', maps_building_floor_map_path(f.object.floor_map.building, f.object.floor_map), :class => 'btn' %>
</div>