<% breadcrumb([link_to('Service Points', availability_service_points_path), 'Site Script Builder']) %>
<% content_for(:right_column) do %>
  <% if @selected_service_points.present? %>
  <h2>Preview</h2>
  <div id="destination">
    <% @selected_service_points.each do | s |  %>
      <h4><%= h s.name %></h4>
      <div id="<%= s.code %>_destination"></div>
    <% end %>
  </div>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        getServiceHours(<%= raw "{#{compact_service_points_for_builder(@selected_service_points)} }" %>);
      });
    </script>
  <% end %>
<% end %>

<h1>Site Script Builder</h1>

<h2>Select Service Points</h2>
<form action="<%= availability_javascript_builder_path %>">
  <select name="selected_service_points[]" multiple="true" id="service_select">
<% Availability::ServicePoint.all.each do | s | %>
    <option <%= @selected_service_points.include?(s) ? "selected=\"true\"" : '' %>value="<%= s.code %>"><%= s.name %></option>
<% end %>
  </select><br/>
  <button class="btn btn-primary" id="builder_button">Get Code</button>
</form>

<% if @selected_service_points.present? %>
    <div id="code_section">
    <h2>1. jQuery </h2>
    <p> The builder code require that your site uses the javascript library <%= link_to 'JQuery', 'http://www.jquery.com' %>. If you do not have it paste the following code into the head section of your page. </p>
    <pre><%= h "<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js\"></script>" %></pre>

    <h2>2. Paste this code into your page's head section.</h2>
<pre>
  <%= h "
<link rel=\"stylesheet\" type=\"text/css\" href=\"#{current_url}/assets/hours_builder.css\">
<script type=\"text/javascript\" src=\"#{current_url}/assets/hours_builder.js\"></script>
<script type=\"text/javascript\">
  $(document).ready(function () {
    getServiceHours({#{compact_service_points_for_builder(@selected_service_points)} });
  });_
</script>" %>
</pre>

<h2>Hours Location</h2>
<p>Paste these divs into the page where you want the hours to appear.</p>
<%  @selected_service_points.each do | sp | %>
  <strong><%= h sp.name %></strong>
  <pre><%= h "<div id=\"#{sp.code}_destination\"></div>" %></pre>
<% end %>

<% end %>
