<% content_for(:right_column) do %>
  <%= render :partial => 'availability/hours/form_instructions', locals: { object: f.object } %>
<% end  %>

<fieldset>
  <%= f.input(:name, :required => true) do %>
      <%= f.text_field :name, tabindex: '1' %>
  <% end %>

  <%= f.input(:start_date, :required => true, :label => 'Publish Dates') do %>
      <%= f.text_field :start_date , :value => date_or_empty_string(f.object.start_date), :placeholder => 'Start Date', :required => false, :class=>'datepicker', :id => 'availability_hours_start_date', tabindex: 2 %>
      to
      <%= f.text_field :end_date, :value => date_or_empty_string(f.object.end_date), :placeholder => 'End Date', :required => false, :class=>'datepicker', :id => 'availability_hours_end_date', tabindex: 3 %>
  <% end  %>
</fieldset>

<fieldset>
  <legend>Hours</legend>

  <a id="pretext" tabindex="4" style="<%= ((!f.object.prepend_text.present?) ? '' : 'display:none;') %>" class="editable placeholder"> Prepend Text: Descriptive text for above the hours. </a>
  <%= f.text_area(:prepend_text, id: 'pretext_form_element', tabindex: "4", style: ((f.object.prepend_text.present?) ? '' : 'display:none;'), class: "editable_textarea", placeholder: "Pretext: Descriptive text for above the hours") %>

  <div id="hours-day-form">
    <% (0...number_of_hours_rows(f.object.hours)).each do | number | %>
      <%= render :partial => 'availability/hours/hours_row_form', :locals => { row: @hours.hours[number], f: f } %>
    <% end %>
  </div>

  <a id="appendtext" tabindex="6" style="<%= ((!f.object.append_text.present?) ? '' : 'display:none;') %>" class="editable placeholder"> Appended Text: Descriptive text for below the hours. Click to edit.</a>
  <%=  f.text_area(:append_text, tabindex: "6", id: 'appendtext_form_element', style: ((f.object.append_text.present?) ? '' : 'display:none;'), class: "editable_textarea", placeholder: "Appended Text: Descriptive text for below the hours.") %>
</fieldset>

<div class="form-actions">
  <button tabindex="7" class="btn btn-primary">Save</button>
  <%= link_to "Reset Form", '#', id: "clear_form", class: "btn" %>
</div>

<div class="row_template" style="display:none;">
  <%= render :partial => 'availability/hours/hours_row_form', locals: { f: f} %>
</div>
