<h5><%= hours.name %></h5>
<% if hours.use_full_effective_date? || print %>
  <p class="dates"><%= hours.effective_full_dates_text %></p>
<% elsif hours.use_short_effective_date? %>
  <p class="dates"><%= hours.effective_short_dates_text %></p>
<% end %>
<%= hours.prepend_text %>
<dl class="dl-horizontal">
<% hours_rows.each do | row | %>
  <dt><%= h row[:days] %></dt>
  <dd><%= h row[:hours] %></dd>
<% end %>
</dl>
<%= hours.append_text %>
