<div class="hours">
  <div class="hours_name"><%= hours.name %></div>
  <div class="hours_prepend_text"><%= raw hours.prepend_text %></div>
  <div class="hours_rows">
    <% hours_rows.each do | row | %>
      <div class="hours_row">
        <div class="hours_day"><%= h row[:days] %></div>
        <div class="hours_text"><%= h row[:hours] %></div>
      </div>
    <% end %>
  </div>
  <div class="hours_append_text"><%= raw hours.append_text %></div>
</div>
