
<h5><%= hours.name %></h5>
<%= hours.prepend_text %>
<dl class="dl-horizontal">
<% hours_rows.each do | row | %>
  <dt><%= h row[:days] %></dt>
  <dd><%= h row[:hours] %></dd>
<% end %>
</dl>
<%= hours.append_text %>
