<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= availability_service_points_path() %>">Service Points</a> <span class="divider">/</span></li>
  <li class="active"><%= h service_point.name %></li>
</ul>

<script type="text/javascript">
jQuery(document).ready(function () {
    getServiceHours({ <%= service_point.code %>: '#destination' });
});
</script>

<div class="hero-unit">
<h1><%= h service_point.name %></h1>
<p class="tagline" id="destination"></p>

</div>

<h2>Upcoming Regular Hours</h2>
<p><a href="#myModal" data-toggle="modal" class="btn">New Hours</a></p>

<table class="table">
 <tr>
   <th>Name</th>
   <th>Active Dates</th>
   <th>Hours</th>
   <th></th>
 </tr>
<% service_point.upcoming_regular_hours.each do | hours | %>
  <% hours = Availability::HoursPresenter.new(hours, self) %>
 <tr>
   <td><%= h hours.name %></td>
   <td><%= hours.start_date.to_date.to_s(:long_ordinal) %> - <%=  hours.end_date.to_date.to_s(:long_ordinal) %></td>
   <td>
     <%= raw hours.render %>
   </td>
   <td>
     <a href="<%= edit_availability_service_point_regular_hour_path(@service_point, hours) %>" class="btn btn-primary">Edit</a>
     <a href="#" class="btn btn-primary">Delete</a>
   </td>
 </tr>
<% end %>
</table>


<h2>Upcoming Hours Exceptions</h2>
<p></p><a href="#myModal" data-toggle="modal" class="btn">New Hours</a></p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Active Dates</th>
    <th>Hours</th>
    <th></th>
  </tr>

  <% service_point.upcoming_hours_exceptions.each do | hours | %>
      <% hours = Availability::HoursPresenter.new(hours, self) %>
      <tr>
        <td><%= h hours.name %></td>
        <td><%= hours.start_date.to_date.to_s(:long_ordinal) %> - <%=  hours.end_date.to_date.to_s(:long_ordinal) %></td>
        <td>
          <%= raw hours.render %>
        </td>
        <td>
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">Delete</a>
        </td>
      </tr>
  <% end %>

</table>

<div id="myModal" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Copy Existing Hours</h3>
  </div>
  <div class="modal-body">
    <form>
      <select>
        <option>Blank Hours</option>
        <option>Easter Hours</option>
        <option>Christmas Hours</option>
      </select>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="<%= new_availability_service_point_hour_path("adsfadsf") %>" class="btn btn-primary">Continue</a>
  </div>
</div>