
<div class="row">
    <div class="span6">


        <div class="directory highlight">
        <span class="label"><strong>Add a new: </strong></span>
            <%= link_to "Email", new_directory_admin_employee_email_path(@employee), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
            <%= link_to "Phone", new_directory_admin_employee_phone_path(@employee), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
            <%= link_to "Mailing Address", new_directory_admin_employee_address_path(@employee), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
            <%= link_to "Webpage", new_directory_admin_employee_webpage_path(@employee), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
            <%= link_to "Fax", new_directory_admin_employee_fax_path(@employee), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>

        </div>

        <br /><br />


        <table class="table table-condensed no-table-hover">
            <tr>
                <th class="span3" colspan="2">Contact Info</th>
                <th class="span1">Primary?</th>
                <th class="span1"></th>
                <th class="span1"></th>
            </tr>
            
            <%= render partial: "/directory/admin/contact_informations/contact_information_row", collection: @employee.contact_informations.sorted %>
        </table>

        <br />
        <br />



    </div>
    <div class="span6"></div>
</div>
