
<div class="row">
    <div class="span10">


        <div class="directory highlight">
        <span class="label"><strong>Add <%= @employee.first_last %> To: </strong></span>

        <%= link_to "Program/Unit", directory_admin_employee_new_unit_path(@employee.id, type: 'DirectoryDepartment'), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
        <%= link_to "Library Team", directory_admin_employee_new_unit_path(@employee.id, type: 'DirectoryLibraryTeam'), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
        <%= link_to "University Committee", directory_admin_employee_new_unit_path(@employee.id, type: 'DirectoryUniversityCommittee'), :class => "btn btn-small", "data-toggle" => "modal", "data-target" => "#directoryModal" %>
        </div>

        <br /><br />


        <% if @employee.employee_units.departments.exists? %>
        <table class="table table-condensed no-table-hover">
            <tr>
                <th class="span4">Program/Unit</th>
                <th class="span4">Title</th>
                <th class="span1"></th>
                <th class="span1"></th>
            </tr>
            <%= render partial: "/directory/admin/employee_units/employee_unit_row", collection: @employee.employee_units.departments.sorted, locals: {:initiator => @employee } %>
        </table>
        <% end %>

        <br />
        <br />

        <% if @employee.employee_units.library_teams.exists? %>
        <table class="table table-condensed no-table-hover">
            <tr>
                <th class="span8">Library Teams</th>
                <th class="span1"></th>
                <th class="span1"></th>
            </tr>
            
            <%= render partial: "/directory/admin/employee_units/employee_unit_row", collection: @employee.employee_units.library_teams.sorted, locals: {:initiator => @employee} %>
        </table>
        <% end %>

        <br />
        <br />



        <% if @employee.employee_units.university_committees.exists? %>
        <table class="table table-condensed no-table-hover">
            <tr>
                <th class="span8">University Committees</th>
                <th class="span1"></th>
                <th class="span1"></th>
            </tr>
            
            <%= render partial: "/directory/admin/employee_units/employee_unit_row", collection: @employee.employee_units.university_committees.sorted, locals: {:initiator => @employee} || "<tr><td colspan='3'>(none listed)</td></tr>" %>

        </table>
        <% end %>

        
        <br />
        <br />



    </div>
    <div class="span2"></div>
</div>
