<% dept_row = DepartmentView.new(department) %>
<tr>
  <td>
    <%= link_to dept_row.name, directory_department_path(department) %> 
  </td>
  <td>
    <% dept_row.websites.each do | w | %>
      <%= w.blank? ? '' : w %>
    <% end %>
  </td>
  <td>
    <% if dept_row.managers.blank? %>
      N/A
    <% else %>
      <% dept_row.managers.each do |manager| %>
        <%= link_to manager.display_name, directory_employee_path(manager) %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% dept_row.addresses.each do | a | %>
      <%= a %><br />
    <% end %>
  </td>
  <td>
    <% dept_row.emails.each do | e | %>
    <span class="email"><%= mail_to e %></span>
    <% end %>
    <% dept_row.phones.each do | p | %>
    <span class="phone"><%= p %></span>
    <% end %>
  </td>
</tr>
