<% dept = DepartmentView.new(@department) %>

<% content_for(:page_title) { dept.name } %>
<% content_for(:meta_description) { "Members and contact information for #{dept.name} at the Hesburgh Libraries, University of Notre Dame" } %>


<% directory_menu %>
<% breadcrumb([link_to('Employee Directory', directory_path), link_to('Programs and Units', directory_departments_path),  dept.name ]) %>

<div itemscope itemtype="http://schema.org/Organization">
  <% content_for :content_title do %>
    <div class="page-header">
        <h1>
          <span itemprop="name"><%= dept.name %></span>

          <% if @permission.current_user_can_edit?(@department) %>
            <div class="pull-right">
              <div class="pull-left">
                <%= button_to("Delete Department", directory_admin_organizational_unit_path(@department), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-small") %>
              </div>&nbsp;
              <%= link_to "Edit Department", edit_directory_admin_organizational_unit_path(@department), :class => "btn btn-primary btn-small" %>
            </div>
          <% end %>

        </h1>
    </div>
  <% end %>


  <div class="orgUnitShow twelve columns">

    <div id="about">
      <br />
      <% if !dept.render_about_text.blank? %>
        <div class="highlight"><h2>About</h2></div>
        <div class="aboutText"><span itemprop="name"><%= dept.render_about_text %></span></div>
        <br />
      <% end %>
    </div>

    <div id="contact">
      <br />
      <% if !dept.phones.nil? or !dept.emails.nil? or !dept.websites.nil? %>
        <div class="highlight"><h2>Contact</h2></div>
        <div class="subsection">
          <% if !dept.phones.blank? %><div><%= dept.phones.first %></div><% end %>
          <% dept.emails.each do |de| %><div><%= mail_to de, de, target: :_blank %></div><% end %>
          <% dept.websites.each do |dw| %><div><%= link_to dw, dw, target: :_blank %></div><% end %>
        </div>
        <br />
      <% end %>
    </div>

    <div id="members">
      <div class="highlight"><h2>Members</h2></div>
      <div class="subsection">

          <% @department.managers_with_members.each do |e| %>
            <div itemprop="member" itemscope itemtype="http://schema.org/Person">

              <% emp = EmployeeShowView.new(e, @permission) %>

              <div class="name" itemprop="name"><%= link_to emp.first_last, directory_employee_path(emp.netid), "itemprop" => "url" %></div>
              <hr />

              <div class="staffInfo pull-left">
                <% emp.all_titles.each do |eut| %>
                  <div class="title"><span itemprop="jobTitle"><%= eut %></span></div>
                <% end %>

                <div class="contact">

                  <address>

                    <% emp.phones.each do |p| %>
                       <%= p %>
                    <% end %>

                    <% emp.emails.each do |e| %>
                       | <%= mail_to(e,e, "itemprop" => "email") %>
                    <% end %>

                    <% emp.addresses.each do |a| %>
                       | <%= a %>
                    <% end %>

                  </address>

                </div>

                <% if emp.about_text %>
                  <div class="aboutTextParagraph readmore">
                    <div itemprop="description"><%= emp.render_about_text %></div>
                  </div>
                <% end %>
              </div>

              <div class="staffImage pull-right">
                <% if !emp.photo_url.nil? %>
                  <%= image_tag(emp.photo_url, width: "80%", class: "pull-right", "itemprop" => "image") %>
                <% end %>
              </div>

              <div class="clearfix"></div>
            </div>
            <br />
          <% end %>


      </div>
    </div>





  <% if false %>

    <div id="members" class="seven columns">
      <div class="highlight"><h2>Members</h2></div>
      <div class="subsection">

        <dl class="dl-horizontal">
          <% dept.managers.each do |manager| %>
            <div  class="headRow">
            <dt><%= link_to manager.display_name, directory_employee_path(manager) %></dt>
            <dd><%= manager.employee_unit_title(dept.department) %></dd>
          </div>
          <% end %>

          <% dept.members.each do |member| %>
            <dt><%= link_to member.display_name, directory_employee_path(member) %></dt>
            <dd><%= member.employee_unit_title(dept.department) %></dd>
          <% end %>
        </dl>

      </div>
    </div>


    <div class="five columns">
      <div class="highlight"><h2>Contact</h2></div>
      <div class="subsection">
        <% if !dept.phones.nil? %><div><%= dept.phones.first %></div><% end %>
        <% if !dept.emails.nil? %><div><%= mail_to dept.emails.first %></div><% end %>
        <% if !dept.websites.nil? %><div><%= link_to "Visit website", dept.websites.first, target: :_blank %></div><% end %>
      </div>
    </div>

    <div class="clearfix">
        <div class='seven columns pull-left'>

        <div class="highlight"><h2>Parent Units</h2></div>
        <div class="subsection">
        <% dept.parents.reverse.each_with_index do |dp, i| %>
          <div style="margin-left: <%= i*10 %>px;">
            -- <%= link_to(dp.name, directory_department_path(dp.id)) %>
          </div>
        <% end %>
        <div style="margin-left: <%= dept.parents.count*10 %>px;" class="muted">-- <%= dept.name %></div>
        </div>
      </div>

      <% if dept.children_units.count > 0 %>
      <div class="five columns pull-right">
        <div class="highlight"><h2>Ancillary Units</h2></div>
        <div class="subsection">
          <% dept.children_units.each do |child_unit| %>
            <div class="ancillaryUnit">
              <%= link_to child_unit.name, directory_department_path(child_unit) %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>

    </div>

  </div>
</div>
