

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>

    <% @report.entries.each do |e| %>
      <Row>

        <Cell><Data ss:Type="String"></Data></Cell>


              <td>&nbsp;</td>
              <td><%= e[@report.sum_by_field] %></td>
              <td><% if !grouped_entries[0]["display_location_name"].blank? %><%= e["display_location_name"] %><% end %></td>
              <td><%= e["month"] %></td>

              <% if !grouped_entries[0]["pieces_count"].blank? %>
                <td class="numberfield"><%= number_with_delimiter e["pieces_count"] %></td>
              
              <% else %>  
                <td class="numberfield"><%= number_with_delimiter e["original_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["original_pieces"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["copy_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["copy_pieces"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["addition_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["withdrawal_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["withdrawal_pieces"] %></td>
                <% if !grouped_entries[0]["transfer_in_count"].blank? %>
                  <td class="numberfield"><%= number_with_delimiter e["transfer_in_count"] %></td>
                  <td class="numberfield"><%= number_with_delimiter e["transfer_out_count"] %></td>
                <% end %>

              <% end %>
            </tr>
          <% end %>




        <Cell><Data ss:Type="Number"><%= product.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.released_on %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.price %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>



