<%= render "report_header" %>

    <table class="table table-condensed no-table-hover no-margin">
      
      <% @report.entries_grouped.each do |h, grouped_entries| %>

        <tr class="header">
          <td colspan="4" class="large"><%= h[1] %><strong></td>
          <% if !grouped_entries[0]["net_titles"].blank? %> 
            <td class="numberfield">Net #titles</td>
            <td class="numberfield">Net #pieces</td>
          <% end %>
          <% if !grouped_entries[0]["original_titles"].blank? %>
            <td class="numberfield">Original #titles</td>
            <td class="numberfield">Original #pieces</td>
            <td class="numberfield">Copy #titles</td>
            <td class="numberfield">Copy #pieces</td>
            <td class="numberfield">Adds #titles</td>
            <td class="numberfield">Withdrawals #titles</td>
            <td class="numberfield">Withdrawals #pieces</td>
            <% if !grouped_entries[0]["transfer_in_count"].blank? %>
              <td class="numberfield">Transfers In</td>
              <td class="numberfield">Transfers Out</td>
            <% end %>
          <% end %>
          <% if !grouped_entries[0]["pieces_count"].blank? %>
            <td class="numberfield">Special #pieces</td>
          <% end %> 
        </tr>

        <% grouped_entries.group_by { |grouped_entry| grouped_entry[@report.sum_by_field] }.each do |subhead, entries| %>
          <% entries.each_with_index do |e, i| %>
            <tr>
              <td>&nbsp;</td>
              <td><% if i == 0 %><%= e[@report.sum_by_field] %><% end %></td>
              <td><% if !grouped_entries[0]["display_location_name"].blank? %><%= e["display_location_name"] %><% end %></td>
              <td><% if !e["month"].blank? %><%= e["month"] %><% end %></td> 
              <% if !grouped_entries[0]["net_titles"].blank? %>
                <td class="numberfield"><%= number_with_delimiter e["net_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["net_pieces"] %></td>
              <% end %>
              <% if !grouped_entries[0]["original_titles"].blank? %>
                <td class="numberfield"><%= number_with_delimiter e["original_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["original_pieces"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["copy_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["copy_pieces"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["addition_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["withdrawal_titles"] %></td>
                <td class="numberfield"><%= number_with_delimiter e["withdrawal_pieces"] %></td>
                <% if !grouped_entries[0]["transfer_in_count"].blank? %>
                  <td class="numberfield"><%= number_with_delimiter e["transfer_in_count"] %></td>
                  <td class="numberfield"><%= number_with_delimiter e["transfer_out_count"] %></td>
                <% end %>

              <% end %>

              <% if !grouped_entries[0]["pieces_count"].blank? %>
                <td class="numberfield"><%= number_with_delimiter e["pieces_count"] %></td>
              <% end %> 
            </tr>
          <% end %>

          <tr class="summary">
            <td colspan="4">&nbsp;<br />&nbsp;<br />&nbsp;</td>

            <% if !grouped_entries[0]["net_titles"].blank? %>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["net_titles"] }.sum %></td>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["net_pieces"] }.sum %></td>
            <% end %>
            <% if !grouped_entries[0]["original_titles"].blank? %>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["original_titles"] }.sum %></td>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["original_pieces"] }.sum %></td>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["copy_titles"] }.sum %></td>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["copy_pieces"] }.sum %></td>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["addition_titles"] }.sum %></td>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["withdrawal_titles"] }.sum %></td>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["withdrawal_pieces"] }.sum %></td>
              <% if !grouped_entries[0]["transfer_in_count"].blank? %>
                <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["transfer_in_count"] }.sum %></td>
                <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["transfer_out_count"] }.sum %></td>
              <% end %>
            <% end %>

            <% if !grouped_entries[0]["pieces_count"].blank? %>
              <td class="numberfield"><%= number_with_delimiter entries.map {|h| h["pieces_count"] }.sum %></td>
            <% end %>

          </tr>


        <% end %>

      <% end %>
    </table>
