<p style="clear:both;">
  Showing <strong>1-10 of 103</strong> e-Journals.  Found 530 journals in other formats. <%= link_to("View other formats", "#") %>
</p>

<% 

location_names = ["Free Web Journals", "Westlaw Campus Research", "Factiva"]

[
  "A&G Information Services",
  "AACE Journal",
  "AAPG Explorer",
  "Aba Family Advocate",
  "ABB Review",
  "The Aberdeen Times",
  "Abertis Infraestructuras, S.A. SWOT Analysis",
  "Abstracts - Society For Neuroscience",
  "Academic Commons",
  "The Academy of Management Executive",
  ].each do |title|
    location = location_names[rand(location_names.count)]
    year = 1980 + rand(20)
     %>
  <div style="clear:both;">
    <strong><%= title %></strong><br>
    &nbsp;From <%= year %> to <%= year + 5 + rand(6) %> in <%= link_to(location, "#") %>
  </div>
  <br>
<% end %>