<% ejournal_header %>
<input type="hidden" id="ejournal_advanced_active" name="ejournal_advanced_active" value="1">
<div class="row">
  <div class="span4">
    <h3>Language</h3>
    <%= link_to("English", '#', :style => 'font-size: 11px;') %><br>
    <%= link_to("Spanish", '#', :style => 'font-size: 11px;') %><br>
    
    <h3>Category</h3>
    <% ["Agriculture Sciences ",
    "Arts and Humanities ",
    "Biology and Life Sciences ",
    "Business and Economics ",
    "Chemistry ",
    "Earth Sciences and Geology ",
    "Engineering ",
    "Environmental Sciences ",
    "Information Technology ",
    "Law ",
    "Library and Information Sciences ",
    "Materials Science, Biomaterials and Metallurgy ",
    "Mathematics ",
    "Medicine and Health ",
    "Physics and Astronomy ",
    "Social Sciences ",
    "Telecommunications Technology",].each do |category| %>
      <%= link_to(category, '#', :style => 'font-size: 11px;') %><br>
    <% end %>
    
    <h3>Subcategory</h3>
    <% ["Anthropology ",
    "Archeology ",
    "Communities and Urban Planning ",
    "Community Based Awareness and Relief Service ",
    "Demographic Studies ",
    "Developmental Issues &amp; Socioeconomic Studies ",
    "Disability Studies &amp; Assistance ",
    "Foreign Policy, Defense and Internal Security ",
    "Gender Studies ",
    "General and Others ",
    "International Studies ",
    "Journalism, Mass Communication, Media &amp; Publishing ",
    "Museums &amp; Heritage Organizations ",
    "Political Science ",
    "Psychology ",
    "Public Policy &amp; Administration ",
    "Rehabilitation ",
    "Sociology",].each do |category| %>
      <%= link_to(raw(category), '#', :style => 'font-size: 11px;') %><br>
    <% end %>
  </div>
  <div class="span12">
    <form id="ejournal_search_form" action="<%= ejournal_path(:search) %>" method="get">
      <input type="hidden" name="stats_search_type" value="ejournal_search" />
      <fieldset>
        <p><span class="ej_filter">Title begins with "A" <span class="ej_close">x</span></span></p>
        <span id="ejournal_search_template">
          <%= select_tag(:search_type, options_for_select(["Title keywords", "Title begins with", "Exact title", "ISSN", "Publisher/Provider"]), :class => "ejournal_advanced span3")%>
          <input class="srch-box long ejournal_keywords" type="text" name="query" value="" placeholder="Find a specific journal" />
        </span>
        <button type="submit" class="btn">Search</button>
      </fieldset>
    </form>
    <div class="ejournal_advanced">

    </div>
    <ul class="extra-links">
      <li><a href="#" id="ejournal_advanced_link" class="ejournal_simple">Advanced search</a></li>
      
    <!--
      <li><a href="http://catalog.library.nd.edu?func=find-b-0&local_base=nd_serials">All journals</a></li>
      <li><a href="http://www.library.nd.edu/find_journals/all_collections.shtml#tab_ejlc">e-Journal collections</a></li>
    -->
    </ul>
    <%= render :partial => 'ejournal/results' %>
  </div>
</div>