<% set_body_class('cataloging-page') %>


<% breadcrumb(['Cataloging Statistics Home']) %>

<% content_for :content_title do %>
    <div class="page-header">
        <h1>
        Welcome, <%= @current_cataloging_user.display_name %>
            <span class="pull-right"><small><%= link_to "Reports", cataloging_reports_path %><% if @current_cataloging_user.admin? then %>  |  <%= link_to "Administration", cataloging_admin_path %> <% end %></small></span>
        </h1>

        <% if @current_cataloging_user.entries.count > 0 then %>
            <span class="muted indent"><small>Latest Entry: <%= @current_cataloging_user.entries.maximum('updated_at').strftime("%m/%d/%Y")  %></small></span>
        <% end %>

    </div>
<% end %>
    
<h2>Your entries</h2>
<%= render partial: "monthly_view", locals: {cataloging_user: @current_cataloging_user, current_cataloging_user: @current_cataloging_user } %>



<% @all_subordinates.each do |sub_user| %>
	<p></p>
	<hr>
	<h2><%= sub_user.display_name %></h2>

	<%= render partial: "monthly_view", locals: {cataloging_user: sub_user, current_cataloging_user: @current_cataloging_user } %>	
<% end %>

<p></p>