<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="site-version" content="3.0">
	<!-- TemplateBeginEditable name="doctitle" --><title>Hesburgh Libraries // University of Notre Dame</title><!-- TemplateEndEditable -->
	<meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />
	<link rel="shortcut icon" href="https://www.library.nd.edu/favicon.ico" />
			<link href="https://www.library.nd.edu/css/grid.css" media="screen,projection" rel="stylesheet" type="text/css" />
		<link href="https://www.library.nd.edu/css/superfish.css" media="screen,projection" rel="stylesheet" type="text/css" />
		<link href="https://www.library.nd.edu/css/colorbox.css" media="screen,projection" rel="stylesheet" type="text/css" />
		<link href="https://www.library.nd.edu/css/main.css" media="screen,projection" rel="stylesheet" type="text/css" />		
		<link href="https://www.library.nd.edu/local_css/local.css" media="screen,projection" rel="stylesheet" type="text/css" />
		
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>

		<script type="text/javascript" src="https://www.library.nd.edu/js/superfish.js"></script>
		<script type="text/javascript" src="https://www.library.nd.edu/js/jquery.colorbox-min.js"></script>
		<script type="text/javascript" src="https://www.library.nd.edu/js/hoverIntent.js"></script>
		<script type="text/javascript" src="https://www.library.nd.edu/js/simplegallery.js"></script>
		<script type="text/javascript" src="https://www.library.nd.edu/js/main.js"></script>
		<script type="text/javascript" src="https://www.library.nd.edu/local_js/local.js"></script>
		<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper" class="outter">
		<ul id="skip_links">
    	<li><a href="#content" accesskey="S" title="Shorcut key to skip content = S">Skip To Content</a></li>
    	<li><a href="#nav">Skip To Navigation</a></li>
  	</ul>
		<div id="header" class="outter">
		<!-- span id="tell-us" class="tell-us"><a href="http://www.library.nd.edu/feedback.php"><img src="http://www.library.nd.edu/css/images/tellus.png" alt="Tell us what you think" border="0" /></a></span -->
<div>
<h4>
	<a href="http://www.library.nd.edu/">Hesburgh Libraries</a>
</h4>

<h3>
  <a href="http://nd.edu/">University of Notre Dame</a>
</h3>
</div>

	</div>
	<!-- End #header -->
	<div id="main-menu" class="outter">
	<ul id="nav" class="sf-menu">
	<li class="left"><a href="http://www.library.nd.edu/srch-find/" title="Information resources">Search & Find</a>
<ul>
      <li><a href="#">Books</a>
			<ul>
				<li><a href="http://primo.library.nd.edu:1701/primo_library/libweb/action/search.do?vid=NDU&tab=nd_campus&mode=Advanced&reset_config=true">CatalogPlus</a></li>
				<li><a href="http://eresources.library.nd.edu/databases/worldcat">WorldCat</a></li>
				<li class="last"><a href="http://www.library.nd.edu/srch-find/catalogs.shtml">More library catalogs</a></li>
			</ul></li>

		<li><a href="#">Articles</a>
			<ul><li><a href="http://www.library.nd.edu/eresources/quicksearch/quicksearch.cgi?interface=advanced&subject=genmul&search_type=subject">Article QuickSearch</a></li>
          <li><a href="http://www.library.nd.edu/find_articles/index.shtml#tab_tad">Selected article databases</a></li>
          <li><a href="http://www.library.nd.edu/find_articles/index.shtml#tab_dbsub">Article databases by subject</a></li>
			<li class="last"><a href="http://eresources.library.nd.edu/databases/googlescholar">Google Scholar</a></li>
			</ul></li>

      <li><a href="#">Journals</a>
			<ul>
          <li><a href="http://www.library.nd.edu/find_journals/ejournals.php">e-Journal locator</a></li>
          <li><a href="http://www.library.nd.edu/find_journals/ejournal_subjects.php">e-Journals by category</a></li>
			<li><a href="http://www.library.nd.edu/find_journals/all_journals.shtml">All journals (print, electronic, microform)</a></li>
			<li class="last"><a href="http://www.library.nd.edu/find_journals/all_collections.shtml">e-Journal collections</a></li>
			</ul></li>

		<li><a href="https://www.library.nd.edu/reserves/ereserves/">Reserves</a></li>

		<li><a href="https://nd.illiad.oclc.org/illiad/IND/logon.html">Interlibrary loan</a></li>

		<li><a href="https://nd.illiad.oclc.org/illiad/IND/logon.html">Document delivery</a></li>

		<li><a href="#">e-Reference shelf</a>
			<ul>
          <li><a href="http://guides.library.nd.edu/subject-guide/81-e-Reference-Shelf?tab=830">Dictionaries</a></li>
          <li><a href="http://guides.library.nd.edu/subject-guide/81-e-Reference-Shelf?tab=829">Encyclopedias</a></li>
          <li><a href="http://guides.library.nd.edu/subject-guide/81-e-Reference-Shelf?tab=831">Biographies</a></li>
			<li class="last"><a href="http://guides.library.nd.edu/subject-guide/81-e-Reference-Shelf">more...</a></li>
			</ul></li>

      <li><a href="http://www.library.nd.edu/help/find-ebooks.shtml">e-Books</a></li>
    <li><a class="tab_sel" href="http://www.library.nd.edu/find_articles/index.shtml#tab_news">Newspapers</a></li>
	<li><a href="#">Subjects A-Z</a>
        <ul>
          <li><a href="http://www.library.nd.edu/subjects/psychology">Psychology</a></li>
          <li><a href="http://www.library.nd.edu/subjects/theology_and_religion">Theology &amp; Religion</a></li>
          <li><a href="http://www.library.nd.edu/subjects/music">Music</a></li>
          <li><a href="http://www.library.nd.edu/subjects/philosophy">Philosophy</a></li>
          <li><a href="http://www.library.nd.edu/subjects/medieval_studies">Medieval Studies</a></li>
          <li class="last"><a href="http://www.library.nd.edu/subjects/">[more]</a></li>
        </ul>
      </li>
      <li id="dbsaz"><a href="#">Resources A-Z</a>
				
        <p class="list" >
          <a href="http://www.library.nd.edu/alpha/a">A</a>
          <a href="http://www.library.nd.edu/alpha/b">B</a>
          <a href="http://www.library.nd.edu/alpha/c">C</a>
          <a href="http://www.library.nd.edu/alpha/d">D</a>
          <a href="http://www.library.nd.edu/alpha/e">E</a>
          <a href="http://www.library.nd.edu/alpha/f">F</a>
          <a href="http://www.library.nd.edu/alpha/g">G</a>
          <a href="http://www.library.nd.edu/alpha/h">H</a>
          <a href="http://www.library.nd.edu/alpha/i">I</a>
          <a href="http://www.library.nd.edu/alpha/j">J</a>
          <a href="http://www.library.nd.edu/alpha/k">K</a>
          <a href="http://www.library.nd.edu/alpha/l">L</a>
          <a href="http://www.library.nd.edu/alpha/m">M</a>
          <a href="http://www.library.nd.edu/alpha/n">N</a>
          <a href="http://www.library.nd.edu/alpha/o">O</a>
          <a href="http://www.library.nd.edu/alpha/p">P</a>
          <a href="http://www.library.nd.edu/alpha/q">Q</a>
          <a href="http://www.library.nd.edu/alpha/r">R</a>
          <a href="http://www.library.nd.edu/alpha/s">S</a>
          <a href="http://www.library.nd.edu/alpha/t">T</a>
          <a href="http://www.library.nd.edu/alpha/u">U</a>
          <a href="http://www.library.nd.edu/alpha/v">V</a>
          <a href="http://www.library.nd.edu/alpha/w">W</a>
          <a href="http://www.library.nd.edu/alpha/x">X</a>
          <a href="http://www.library.nd.edu/alpha/y">Y</a>
          <a href="http://www.library.nd.edu/alpha/z">Z</a>
          <a href="http://www.library.nd.edu/alpha/0">0-9</a>
        </p>
      </li>
		<li class="last"><a href="http://www.library.nd.edu/srch-find/">more...</a></li>
    </ul>
  </li>
	  <li><a href="http://www.library.nd.edu/help/" title="Get answers to questions, library instruction, tips to get you started">Help &amp; Guides</a>
  <ul>
      <li><a href="http://www.library.nd.edu/fys/">Starting your research</a></li>
    	<li><a href="http://www.library.nd.edu/reference/faq/">How do I / FAQ</a></li>
		<li><a href="http://www.library.nd.edu/instruction/potofgold/"><em class="gold">Pot of Gold</em> &mdash; Information Literacy Tutorial</a></li>
      <li><a href="http://www.library.nd.edu/directory/subjects">Contact a subject librarian</a></li>
      <li><a href="http://guides.library.nd.edu/">Course pages &amp; Research guides</a></li>
		<li><a href="#">I need to find...</a>
			<ul>
				<li><a href="http://www.library.nd.edu/help/find-articles.shtml">Articles</a></li>
				<li><a href="http://www.library.nd.edu/help/find-books.shtml">Books</a></li>
				<li><a href="http://www.library.nd.edu/help/find-dvds.shtml">DVDs &amp; videorecordings</a></li>
				<li><a href="http://www.library.nd.edu/help/find-ebooks.shtml">e-Books</a></li>
				<li><a href="http://www.library.nd.edu/help/find-ejournals.shtml">e-Journals</a></li>
				<li><a href="http://www.library.nd.edu/help/find-gov-info.shtml">Government information</a></li>
				<li><a href="http://www.library.nd.edu/help/find-images.shtml">Images</a></li>
				<li><a href="http://www.library.nd.edu/colldev/subject_home_pages/english/leisurereading/">Leisure reading materials</a></li>
				<li><a href="http://www.library.nd.edu/help/find-maps.shtml">Maps</a></li>
				<li><a href="http://www.library.nd.edu/help/find-new.shtml">New acquisitions</a></li>
				<li><a href="http://www.library.nd.edu/help/find-theses.shtml">Theses &amp; dissertations</a></li>
			</ul></li>
		<li><a href="http://www.library.nd.edu/help/plagiarism.shtml">Avoiding plagiarism</a></li>
      <li><a href="http://guides.library.nd.edu/subject-guide/81-e-Reference-Shelf?tab=832">Citing sources</a></li>
		<li><a href="http://eresources.library.nd.edu/databases/refworks">RefWorks</a></li>
    	<li><a href="http://asklib.nd.edu/#meet">Schedule a research consultation</a></li>
		<li><a href="#">Services for...</a>
			<ul>
				<li><a href="http://www.library.nd.edu/help/undergrads.shtml">Undergraduate students</a></li>
				<li><a href="http://www.library.nd.edu/help/grads.shtml">Graduate students</a></li>
				<li><a href="http://www.library.nd.edu/help/faculty.shtml">Faculty</a></li>
				<li><a href="http://www.library.nd.edu/help/study-abroad">ND students studying abroad</a></li>
				<li><a href="http://www.library.nd.edu/help/disabilities.shtml">Students with disabilities</a></li>
				<li><a href="http://www.library.nd.edu/help/visitors.shtml">Visitors</a></li>
			</ul></li>
      <li><a href="http://asklib.nd.edu/">Ask a Librarian</a></li>
		<li class="last"><a href="http://www.library.nd.edu/help/">more...</a></li>
  </ul>
  </li>
  	  <li><a href="http://www.library.nd.edu/lib-colls/" title="What the library can do for you">Libraries & Collections</a>
    <ul>
        <li><a href="http://architecture.library.nd.edu/">Architecture Library</a>  </li>
        <li><a href="http://artimage.library.nd.edu/">Art Image Library</a>  </li>
        <li><a href="http://bic.library.nd.edu/">Business Information Center</a>  </li>
        <li><a href="http://chemistry.library.nd.edu/">Chemistry - Physics Library</a>  </li>
        <li><a href="http://engineering.library.nd.edu/">Engineering Library</a>  </li>
			<li><a href="http://www.library.nd.edu/">Hesburgh Libraries</a></li>
        <li><a href="http://kkic.library.nd.edu/">Kellogg/Kroc Library Information Center</a>  </li>
        <li><a href="http://mathematics.library.nd.edu/">O'Meara Mathematics Library</a>  </li>
        <li><a href="http://medieval.library.nd.edu/">Medieval Institute</a>  </li>
			<li><a href="http://www.library.nd.edu/media/">Music and Media Services Unit</a></li>
        <li><a href="http://radlab.library.nd.edu/">Radiation Chemistry Reading Room</a>  </li>
        <li><a href="http://www.library.nd.edu/rarebooks/">Rare Books &amp; Special Collections</a></li>
	<li><a href="http://archives.nd.edu/">Archives, University of Notre Dame</a></li>
	<li class="last"><a href="http://www.library.nd.edu/lib-colls/">more...</a></li>
    </ul>
  </li>
	  <li><a href="http://www.library.nd.edu/about/index.shtml" title="Information about the Libraries">About the Libraries</a>
    <ul>
		<li><a href="http://www.library.nd.edu/about/hours/">Hours</a></li>
  <li><a href="http://www.library.nd.edu/about/maps/index.shtml">Maps &amp; locations</a>
			<ul>
      		<li><a href="http://www.library.nd.edu/about/maps/locations.shtml">Locations of the libraries of ND</a></li>
      		<li><a href="http://www.library.nd.edu/about/maps/lclist.shtml">Hesburgh Library call number locations</a></li>
		      <li><a href="http://bic.library.nd.edu/about/documents/biclayout.pdf">Business Information Center floor plan</a></li>
      		<li><a href="http://engineering.library.nd.edu/about/library_map.shtml">Engineering Library floor plan</a></li>
				<li><a href="http://www.library.nd.edu/about/maps/campus.shtml">ND map and surrounding area</a></li>
		      <li><a href="http://www.nd.edu/~ndspd/parkrules2007.pdf">Campus parking map (pdf)</a></li>
				<li class="last"><a href="http://cce.nd.edu/travelers.shtml">Directions to campus</a></li>
			</ul></li>
      <li><a href="http://www.library.nd.edu/circulation/">Borrow, Renew, Recall</a></li>
      <li><a href="http://www.library.nd.edu/about/employment/">Employment</a></li>
      <li><a href="http://www.library.nd.edu/directory/employees">Staff directory</a></li>
		<li><a href="http://www.library.nd.edu/directory/orgchart.pdf">Library organization chart</a></li>
		<li><a href="http://www.library.nd.edu/about/myaccount.shtml">My Accounts</a></li>
      <li><a href="http://www.library.nd.edu/instruction/">Instruction, workshops, tours</a></li>
      <li><a href="http://www.library.nd.edu/about/computing.shtml">Computers, scanners, study rooms</a></li>
      <li><a href="http://www.library.nd.edu/advancement/">Library Advancement</a></li>
      <li><a href="http://www.library.nd.edu/ucl/">University Committee on Libraries</a></li>
		<li class="last"><a href="http://www.library.nd.edu/about/">more...</a></li>
  </ul>
  </li>
	   <li><a href="http://asklib.nd.edu/" title="Options for getting help from a librarian" class="icon-person">Ask a Librarian</a>
<!--
<ul>
      <li><a href="http://www.library.nd.edu/reference/ask/forms.shtml">Library chat</a></li>
    <li><a href="http://www.library.nd.edu/reference/ask/forms.shtml">Email reference</a></li>
    <li><a id="talk">Talk to a person: 574.631.6258</a></li>
      <li class="last"><a href="http://www.library.nd.edu/reference/ask/forms.shtml#meet">Meet with a librarian</a></li>
  </ul>
-->
  </li>
</ul>

	</div>
	<!-- End #main-menu -->
	<div id="content_wrapper" class="outter">
		<div id="content" class="container">
			<div id="crumbs" class="last"><!-- TemplateBeginEditable name="crumbs" --><%= content_for(:breadcrumb) %><!-- TemplateEndEditable --></div>
			<div id="pg-title" class="last"><!-- TemplateBeginEditable name="pg-title" --><%= content_for(:content_title) %><!-- TemplateEndEditable -->
			</div>
				<div id="single-col" class="column span-24 last">
				<!-- TemplateBeginEditable name="left-column-content" -->
<%= yield %>

				<!-- TemplateEndEditable -->
				</div>
			<!-- End #single-col -->
			</div>
		<!-- End #content -->
		</div>
	<!-- BEGIN FOOTER DIV -->
<div id="footer" class="outter">
  <div class="mark span-6">
    <a href="http://www.library.nd.edu"><img src="https://www.library.nd.edu/images/hesburgh_mark.png" alt="Hesburgh Libraries logo" /></a>
  </div>
  <div class="span-12">
      <p><a href="http://nd.edu/">University of Notre Dame</a> | <a href="http://www.library.nd.edu/">Hesburgh Libraries</a></p>
    <p>221 Hesburgh Library | Notre Dame, IN 46556 </p><p> Tel: 574.631.6258 | Fax: 574.631.6772</p>
    <p><a href="http://www.library.nd.edu/feedback.php">Website feedback</a>  | <a href="https://wiki.nd.edu/display/libintranet/Home">HesNet</a> <img src="https://www.library.nd.edu/images/lock.gif"/> | <a href="http://m.library.nd.edu/">Mobile version</a></p>
  </div>
  <div class="mark span-6 last">
    <a href="http://nd.edu"><img src="https://www.library.nd.edu/images/ndmark.png" alt="University of Notre Dame logo" /></a>
  </div>
</div>
<!-- END FOOTER DIV -->
<% if Rails.env == "production" %>
<script type="text/javascript">
  var _gaq = [['_setAccount', 'UA-2118378-1'], ['_trackPageview']];
  (function(d, t) {
    var g = d.createElement(t),
    s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
  })(document, 'script');
</script>
<% end %>
	</div>
	<!-- End #wrapper --></body></html>