<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hesburgh Libraries // University of Notre Dame</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />

    <%= hesburgh_stylesheet_link_tag active_branch_code, "index.css", :media => "all" %>
    <!--[if lte IE 9]>
      <%= hesburgh_stylesheet_link_tag :main, "ie.css", :media => "all" %>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "print/hours_print_page.css"%>
    <%= hesburgh_javascript_include_tag :main, "index.js" %>
    <% if branch_site? %>
      <%= hesburgh_javascript_include_tag active_branch_code, "index.js" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
  </html>
