<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hesburgh Libraries // University of Notre Dame</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />

    <%= stylesheet_link_tag    "1.0/index.css", :media => "all" %>
    <!--[if lte IE 9]>
      <%= stylesheet_link_tag    "1.0/ie.css", :media => "all" %>
    <![endif]-->
    <%= javascript_include_tag "1.0/index.js" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "print/hours_print_page.css"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
  </html>
